<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="retry logic">

	<listeners>
		<listener class-name="com.qa.retryAnalyser.RuntimeRetry" />
	</listeners>


	<test name="retry logic">
		<classes>
			<class name="com.qa.retry.RetryLogic"></class>
			

		</classes>
	</test>
</suite>